.gallery{
    margin:10px 50px;
    float: left;
}
.gallery img{
    transition: 1s;
    padding: 20px;
    width: 300;
    float: left;
}
.gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}
.video{
    transition: 1s;
    padding: 5px;
    width: 500;
    float: center;
}